/* base file (main.scss) should only contain imports - one aspect of setting up sass in a modular way */
/* vendor helpers - bourbon and the bourbon family (neat, bitters, refills) */
input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* my styles */
body {
  font-family: 'Muli', sans-serif; }

section {
  height: 500px;
  padding: 2em;
  padding-top: 4em; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.clear {
  clear: both; }

.content {
  background-color: white; }

#sub-soln {
  display: block;
  background-color: #3498db;
  background-image: -webkit-linear-gradient(bottom, #3498db, #000);
  background-image: linear-gradient(to top,#3498db, #000);
  background-color: #000;
  color: white;
  clear: both; }
  #sub-soln::after {
    clear: both;
    content: "";
    display: table; }
  #sub-soln .soln-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #sub-soln .soln-info h1 {
      font-size: 2.7em; }
    #sub-soln .soln-info p {
      font-size: 1.7em; }
    #sub-soln .soln-info:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      #sub-soln .soln-info {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-left: 0%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto; }
        #sub-soln .soln-info:last-child {
          margin-right: 0; }
        #sub-soln .soln-info::after {
          clear: both;
          content: "";
          display: table; } }
  #sub-soln .soln-img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    background-image: url("../images/ven.png");
    background-position: center right;
    background-repeat: no-repeat;
    height: 350px; }
    #sub-soln .soln-img:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      #sub-soln .soln-img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        #sub-soln .soln-img:last-child {
          margin-right: 0; } }

#findgame {
  display: block;
  background-color: #fff;
  background-image: -webkit-linear-gradient(bottom, #fff, #3498db);
  background-image: linear-gradient(to top,#fff, #3498db); }
  #findgame::after {
    clear: both;
    content: "";
    display: table; }

#findsub {
  display: block;
  background-color: #3498db;
  background-image: -webkit-linear-gradient(bottom, #3498db, #fff);
  background-image: linear-gradient(to top,#3498db, #fff); }
  #findsub::after {
    clear: both;
    content: "";
    display: table; }
  #findsub .sub-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #findsub .sub-info h1 {
      font-size: 2.7em; }
    #findsub .sub-info p {
      font-size: 1.7em; }
    #findsub .sub-info:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      #findsub .sub-info {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-left: 0%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto; }
        #findsub .sub-info:last-child {
          margin-right: 0; }
        #findsub .sub-info::after {
          clear: both;
          content: "";
          display: table; } }
  #findsub .sub-finder {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #findsub .sub-finder:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      #findsub .sub-finder {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        #findsub .sub-finder:last-child {
          margin-right: 0; } }

#leagues {
  background-color: #000;
  background-image: -webkit-linear-gradient(bottom, #000, #3498db);
  background-image: linear-gradient(to top,#000, #3498db);
  text-align: center; }
  #leagues h1 {
    color: white; }

.testimonials {
  background-color: white;
  height: 150px;
  text-align: center;
  padding-top: 2em; }
  .testimonials .quote {
    display: block;
    width: 100%;
    font-size: 1.5em; }
    .testimonials .quote::after {
      clear: both;
      content: "";
      display: table; }

footer {
  height: 300px;
  background-color: #000; }

.navigation {
  position: fixed;
  background-color: #000;
  min-height: 52px;
  width: 100%;
  z-index: 999;
  padding-right: 11%;
  padding-left: 11%; }
  .navigation a {
    text-decoration: none;
    color: #fff; }
  .navigation .navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999;
    text-align: left;
    padding-left: 1;
    float: left; }
    .navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    .navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .navigation nav {
    float: none;
    min-height: 52px;
    z-index: 9999999; }
    @media screen and (min-width: 53.75em) {
      .navigation nav {
        float: left; } }
  .navigation .sliding-menu-content {
    z-index: 999999;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 150px;
    -webkit-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -o-transform: translateX(-220px);
    transform: translateX(-220px);
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    background-color: #000;
    background-image: -webkit-linear-gradient(left, #000 95%, #3498db 5%);
    background-image: linear-gradient(to right,#000 95%, #3498db 5%); }
    .navigation .sliding-menu-content linear
    ul {
      padding: 0;
      margin: 0; }
      .navigation .sliding-menu-content linear
      ul li {
        list-style: none; }
    .navigation .sliding-menu-content li a {
      color: #fff;
      display: block;
      font-weight: bold;
      padding: 1em;
      height: 53px;
      font-size: 0.9em;
      text-decoration: none; }
      .navigation .sliding-menu-content li a:focus {
        background-color: #000; }
      .navigation .sliding-menu-content li a:hover {
        background-color: #000;
        background-image: -webkit-linear-gradient(left, #000, #3498db);
        background-image: linear-gradient(to right,#000, #3498db);
        color: white; }
    .navigation .sliding-menu-content.is-visible {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
  .navigation .sliding-menu-button {
    border: 1px solid #00298a;
    border-bottom: 1px solid #001961;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 #59b5e7;
    color: white;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db 0%, #0066ba 50%, #004dab 50%, #0052ad 100%);
    background-image: linear-gradient(to bottom,#3498db 0%, #0066ba 50%, #004dab 50%, #0052ad 100%);
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #000b69;
    height: 40px;
    margin-top: 7px;
    float: left;
    color: #fff;
    margin-left: 10px; }
    .navigation .sliding-menu-button:hover:not(:disabled) {
      cursor: pointer;
      background-color: #2789c9;
      background-image: -webkit-linear-gradient(top, #2789c9 0%, #005aa8 50%, #004399 50%, #00489c 100%);
      background-image: linear-gradient(to bottom,#2789c9 0%, #005aa8 50%, #004399 50%, #00489c 100%); }
    .navigation .sliding-menu-button:active:not(:disabled), .navigation .sliding-menu-button:focus:not(:disabled) {
      box-shadow: inset 0 0 20px 0 #002461; }
    .navigation .sliding-menu-button:disabled {
      opacity: 0.5;
      cursor: not-allowed; }
  .navigation .signin-btn {
    float: right;
    font-weight: bold;
    line-height: 52px; }
    .navigation .signin-btn .modal-trigger {
      color: #3498db;
      border: 1px solid #3498db;
      padding: 5px 15px 8px 15px;
      border-radius: 5px;
      cursor: pointer; }
      .navigation .signin-btn .modal-trigger:hover {
        -webkit-transition: all 1.5s ease-in-out;
        -moz-transition: all 1.5s ease-in-out;
        transition: all 1.5s ease-in-out;
        background-color: #3498db;
        color: white; }
  @media screen and (max-width: 769px) {
    .navigation {
      padding-left: 0;
      padding-right: 2%; } }

body {
  background-color: #000; }

header {
  background-image: url("../images/login-background.jpg");
  height: 100vh;
  max-height: 800px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 35%;
  text-align: center; }
  header .ticker {
    background-color: #f39c12;
    height: 25px;
    top: 52px;
    position: absolute;
    width: 100%;
    color: #000;
    font-weight: bold; }
    @media screen and (max-width: 769px) {
      header .ticker {
        font-size: 0.6em;
        line-height: 20px; } }
  header #logo {
    min-height: 200px;
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 125px;
    padding-bottom: 10px; }
    @media screen and (max-width: 769px) {
      header #logo {
        width: 90%;
        padding-bottom: -100px !important; } }
    header #logo img {
      width: 80%; }
  header p.tagline {
    font-size: 2em;
    color: #fff;
    text-align: center;
    padding-bottom: 20px; }
    @media screen and (max-width: 769px) {
      header p.tagline {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
        font-size: 1.5em;
        text-align: left; } }
  header .dropdown-arrow {
    padding-top: 75px; }

.signup-btn {
  border: 1px solid #7e2d00;
  border-bottom: 1px solid #751d00;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 0 #ffb91e;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #f39c12;
  background-image: -webkit-linear-gradient(top, #f39c12 0%, #bb6a00 50%, #9d5100 50%, #a45600 100%);
  background-image: linear-gradient(to bottom,#f39c12 0%, #bb6a00 50%, #9d5100 50%, #a45600 100%);
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #ffa71a;
  color: white;
  font-size: 1.5em; }
  .signup-btn:hover:not(:disabled) {
    cursor: pointer;
    background-color: #e68d00;
    background-image: -webkit-linear-gradient(top, #e68d00 0%, #b15e00 50%, #964700 50%, #9d4c00 100%);
    background-image: linear-gradient(to bottom,#e68d00 0%, #b15e00 50%, #964700 50%, #9d4c00 100%); }
  .signup-btn:active:not(:disabled), .signup-btn:focus:not(:disabled) {
    box-shadow: inset 0 0 20px 0 #842800; }
  .signup-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.modal-state {
  display: none !important; }

.modal .modal-window {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  padding-top: 0.2em;
  text-align: left;
  visibility: hidden;
  z-index: 99999999999; }
  @media screen and (min-width: 53.75em) {
    .modal .modal-window {
      padding-top: 4em; } }
  .modal .modal-window .modal-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    cursor: pointer; }
.modal .modal-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  color: #f39c12; }
  .modal .modal-close:after, .modal .modal-close:before {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 0;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 1.5em;
    width: 0.15em;
    background: #ddd;
    content: '';
    display: block;
    margin: -3px 0 0 -1px; }
  .modal .modal-close:hover:after, .modal .modal-close:hover:before {
    background: #c4c4c4; }
  .modal .modal-close:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.modal .modal-inner {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  background-color: #3498db;
  background-image: -webkit-linear-gradient(#3498db, #000);
  background-image: linear-gradient(#3498db, #000);
  border-radius: 5px;
  margin-top: 0;
  margin: auto;
  padding: 0.5em;
  position: relative;
  width: 95%; }
  .modal .modal-inner i {
    float: left; }
  .modal .modal-inner input[type='submit'] {
    border: 1px solid #7e2d00;
    border-bottom: 1px solid #751d00;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 #ffb91e;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: #f39c12;
    background-image: -webkit-linear-gradient(top, #f39c12 0%, #bb6a00 50%, #9d5100 50%, #a45600 100%);
    background-image: linear-gradient(to bottom,#f39c12 0%, #bb6a00 50%, #9d5100 50%, #a45600 100%);
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #ffa71a;
    color: #fff;
    text-align: center; }
    .modal .modal-inner input[type='submit']:hover:not(:disabled) {
      cursor: pointer;
      background-color: #e68d00;
      background-image: -webkit-linear-gradient(top, #e68d00 0%, #b15e00 50%, #964700 50%, #9d4c00 100%);
      background-image: linear-gradient(to bottom,#e68d00 0%, #b15e00 50%, #964700 50%, #9d4c00 100%); }
    .modal .modal-inner input[type='submit']:active:not(:disabled), .modal .modal-inner input[type='submit']:focus:not(:disabled) {
      box-shadow: inset 0 0 20px 0 #842800; }
    .modal .modal-inner input[type='submit']:disabled {
      opacity: 0.5;
      cursor: not-allowed; }
  @media screen and (min-width: 40em) {
    .modal .modal-inner {
      max-height: 70%;
      padding: 1em;
      width: 30%; } }
  @media screen and (min-width: 53.75em) {
    .modal .modal-inner {
      width: 25%; } }
  .modal .modal-inner h1 {
    color: #fff;
    width: 100%;
    margin-bottom: 0.6em;
    text-align: left;
    text-transform: capitalize;
    text-align: center; }
  .modal .modal-inner .form-feild {
    display: block;
    width: 100%;
    height: 50px; }
  .modal .modal-inner .fa-user {
    color: #f39c12;
    vertical-align: middle;
    position: relative;
    top: 5px; }
  .modal .modal-inner .fa-lock {
    color: #f39c12;
    height: 50px;
    position: relative;
    top: 5px; }
  .modal .modal-inner #email {
    float: right;
    width: 90%; }
  .modal .modal-inner #password {
    float: right;
    width: 90%; }
  .modal .modal-inner p {
    text-align: center;
    color: white;
    height: auto; }
  .modal .modal-inner a {
    text-decoration: underline; }
  .modal .modal-inner .modal-intro {
    font-weight: 800; }
  .modal .modal-inner .modal-content {
    color: #333; }
    @media screen and (min-width: 40em) {
      .modal .modal-inner .modal-content {
        -webkit-columns: 2 8em;
        -moz-columns: 2 8em;
        columns: 2 8em; } }
.modal .modal-state:checked + .modal-window {
  opacity: 1;
  visibility: visible; }
.modal .modal-state:checked + .modal-window .modal-inner {
  top: 0.3em; }

.cards {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
  .cards::after {
    clear: both;
    content: "";
    display: table; }

.card {
  -webkit-flex-basis: 15em;
  -moz-flex-basis: 15em;
  flex-basis: 15em;
  -ms-flex-preferred-size: 15em;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px #217dbb;
  cursor: pointer;
  margin: 0 1em 1.5em 1em;
  position: relative;
  position: relative; }
  .card .card-image {
    overflow: hidden;
    max-height: 200px; }
    .card .card-image img {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      background: #DBD199;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      width: 100%; }
  .card .card-header {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.5em 0.75em; }
  .card .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.75em 0.75em; }
    .card .card-copy p {
      margin: 0 0 0.75em; }
  .card:focus, .card:hover {
    background-color: white; }
    .card:focus .card-image img, .card:hover .card-image img {
      background: #e2daac; }
    .card:focus .card-header, .card:hover .card-header {
      background-color: white; }
  .card:active {
    background-color: #f7f7f7; }
    .card:active .card-header {
      background-color: #f7f7f7; }

/*# sourceMappingURL=main.css.map */
