body {
	font-family: 'Muli', sans-serif;
}

section {
	height: 500px;

	padding: 2em;
	padding-top: 4em;
}

.container {
	@include outer-container();
}

.clear {
	clear: both;
}

.content {
	background-color: white;
}

#sub-soln  {
	@include row();
	@include linear-gradient(to top,  #3498db, #000);
	background-color: #000;
	color: white;
	clear: both;
	.soln-info { 
		h1 {
			font-size: 2.7em;

		}

		p {
			font-size: 1.7em;
		}
		@include span-columns(6); 
		@include media(max-width 420px) {
		    @include span-columns(12);
		    @include shift(0);
		    @include outer-container(100%)
		}
	}
	.soln-img { 
		@include span-columns(6); 
		background-image: url('../images/ven.png');
		background-position: center right;
		background-repeat: no-repeat;
		height: 350px;
		@include media(max-width 420px) {
		    @include span-columns(12);
		}
	}
}

#findgame {
	@include row();
	@include linear-gradient(to top,  #fff, #3498db);
}

#findsub {
    @include row();
	@include linear-gradient(to top,  #3498db, #fff);

	.sub-info { 
		h1 {
			font-size: 2.7em;

		}

		p {
			font-size: 1.7em;
		}
		@include span-columns(6); 
		@include media(max-width 420px) {
		    @include span-columns(12);
		    @include shift(0);
		    @include outer-container(100%)
		}
	}
	.sub-finder { 
		@include span-columns(6); 
	
		@include media(max-width 420px) {
		    @include span-columns(12);
		}
	}
}

#leagues {
	@include linear-gradient(to top,  #000, #3498db);
	text-align: center;

	h1 {
		
		color: white;
	}
}

.testimonials {
	background-color: white;
	height: 150px;
	text-align: center;
	padding-top: 2em;
	h1 {
		
	}
	.quote {
	@include row();
	
		width: 100%;
		font-size: 1.5em;
	}
}

footer {
	height: 300px;
	background-color: #000;
}