body {
	font-family: 'Muli', sans-serif;
	background-color: #013e66;
}

section {
	height: 500px;

	padding: 2em;
	padding-top: 4em;
}

.container {
	@include outer-container();
}

.clear {
	clear: both;
}

.content {
	background-color: white;
}

.testimonials {
	background-color: #fff;
}

#sub-soln  {
	@include clearfix;
	@include linear-gradient(to top,  #3498db, #013e66);
	background-color: #013e66;
	color: white;
	clear: both;
	.soln-info { 
		h1 {
			font-size: 2.7em;

		}

		p {
			font-size: 1.7em;
		}
		@include span-columns(6); 
		@include media(max-width 420px) {
		    @include span-columns(12);
		    @include shift(0);
		    @include outer-container(100%)
		}
	}
	.soln-img { 
		@include span-columns(6); 
		background-image: url('../images/ven.png');
		background-position: center right;
		background-repeat: no-repeat;
		height: 350px;
		@include media(max-width 420px) {
		    @include span-columns(12);
		}
	}
}

#findgame {
	@include clearfix;
	@include linear-gradient(to top,  #fff, #3498db);
}

#findsub {
   @include clearfix;
	@include linear-gradient(to top,  #3498db, #fff);

	.sub-info { 
		h1 {
			font-size: 2.7em;

		}

		p {
			font-size: 1.7em;
		}
		@include span-columns(6); 
		@include media(max-width 420px) {
		    @include span-columns(12);
		    @include shift(0);
		    @include outer-container(100%)
		}
	}
	.sub-finder { 
		@include span-columns(6); 
	
		@include media(max-width 420px) {
		    @include span-columns(12);
		}
	}
}

#leagues {
	@include clearfix;
	@include linear-gradient(to top,  #013e66, #3498db);
	text-align: center;
	height: auto;

	h1 {
		
		color: white;
	}

	p {
		color: white;
		font-size: 1.5em;
		width: 70%;
		margin: auto;
		margin-bottom: 30px;
	}
	img {
	 margin: 20px;
	}
}

footer {
	height: 300px;
	background-color: #013e66;
}