.modal-state {
   display: none !important;
}

.modal {
  $modal-background: #fff;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $modal-padding: 1em;
  $modal-close-color: $light-gray;

 
  .modal-window { 
    @include transition(opacity 0.25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, 0.85);
    opacity: 0;
    padding-top: 0.2em;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    @include media($large-screen) {
      padding-top: 4em;
    }

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    background: $modal-background;
    cursor: pointer;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(0.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10%);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity 0.25s ease);
    background: $modal-background;
    border-radius: 5px;
    margin-top: 0;
    margin: auto;
    max-height: 95%;
    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    width: 95%;

    i {
      float: left;
    }
    input {
      float: right;
    }

    @include media($medium-screen) {
      max-height: 70%;
      padding: $modal-padding;
      width: 30%;
    }

    @include media($large-screen) {
      width: 25%;
    }

    h1 {
      color: $base-font-color;
      margin-bottom: 0.6em;
      text-align: left;
      text-transform: capitalize;
    }

    .modal-intro {
      font-weight: 800;
    }

    .modal-content {
      color: $base-font-color;

      @include media($medium-screen) {
        @include columns(2 8em);
      }
    }
  }

  .modal-state:checked + .modal-window {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-window .modal-inner {
    top: 0.3em;
  }
}

.modal-open {
  overflow: hidden;
}

.modal-closed {
  overflow: auto;
}


